[submodule "dependencies/libft"]
	path = dependencies/libft
	url = git@github.com:AhmedHodiani/libft.git
[submodule "dependencies/libftprintf"]
	path = dependencies/libftprintf
	url = git@github.com:AhmedHodiani/libftprintf.git
[submodule "dependencies/minilibx-linux"]
	path = dependencies/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
